body{
	font-family: 'Amatic SC', cursive;
	background-color: #BDF2ED;
	margin: 0;
	padding: 0;
}

header{
	margin: 60px auto 0px auto;
	text-align:center;

}

a{
	color:#FF7173;
}

button{
	width:100px;
	height:30px;
	background-color:#FF7173;
	border:none;
	color:#FFF;
}

#content{
	margin: 0 auto;
	background-color: rgba(255,255,255, 0.2);
	text-align:center;
	padding: 5% 0 5% 0;
}
#leftcontent{
	float:left;
	width: 45%;
	padding:20px;
}
#rightcontent{
	float:right;
	width: 40%;
	padding: 30px 0 0 0;
}
#info{
	text-align:center;
	font-size:20px;
	margin: 20px auto;
	clear:both;
}

#instructions{
	text-align:center;
	font-size: 20px;
	font-weight:bold;
	color: #025E73;
}

#normal{
	font-size:21px;

}

#template, #path, #circlepath,#linepath, #star, #arrow,#mandalatemplate, #mandalapath, #birdtemplate, #birdpath,
#mandalapath1,#mandalapath2,#mandalapath3,#mandalapath4,#mandalapath5,#mandalapath6,
#mandalapath7,#mandalapath8,#mandalapath9,#mandalapath10,#mandalapath11,#mandalapath12,
#mandalapath13,#mandalapath14,#mandalapath15,#mandalapath16,#mandalapath17,#mandalapath18,
#mandalapath19,#mandalapath20,#mandalapath21,#mandalapath22,#mandalapath23,#mandalapath24,
#mandalapath25,#mandalapath26,#mandalapath27,#mandalapath28,#mandalapath29,#mandalapath30,
#mandalapath31,#mandalapath32,#mandalapath33,#mandalapath34,#mandalapath35,#mandalapath36,
#mandalapath37,#mandalapath38,#mandalapath39,#mandalapath40,#mandalapath41,#mandalapath42, #hearttemplate, #hand, #thumbsup, #square,
#circle, #polygon, #stars, #triangle, #rounded, #s, #h, #a, #p, #e, #ss{
  	fill: none;
}
#template {
	stroke-width: 5px;
	stroke: #025E73;
}
#path {
	stroke: #FF7173;
	stroke-width: 10px;
}
#circlepath {
	stroke: #FF7173;
	stroke-width: 10px;
}
#linepath {
	stroke: #FF7173;
	stroke-width: 10px;
}
#star{
	stroke-width: 10px;
	stroke: #FF7173;
}
#arrow {
	stroke: #FF7173;
	stroke-width: 10px;
	visibility: hidden;
}

#penguin{
	stroke: #FF7173;
	fill: #FF7173;
}
#phoenix {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#droplet {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#fire {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#mandalatemplate {
	stroke-width: 5px;
	stroke: #025E73;
}
#mandalapath {
	stroke: #FF7173;
	stroke-width: 6px;
}
#mandalapath1,#mandalapath2,#mandalapath3,#mandalapath4,#mandalapath5,#mandalapath6,
#mandalapath7,#mandalapath8,#mandalapath9,#mandalapath10,#mandalapath11,#mandalapath12,
#mandalapath13,#mandalapath14,#mandalapath15,#mandalapath16,#mandalapath17,#mandalapath18,
#mandalapath19,#mandalapath20,#mandalapath21,#mandalapath22,#mandalapath23,#mandalapath24,
#mandalapath25,#mandalapath26,#mandalapath27,#mandalapath28,#mandalapath29,#mandalapath30,
#mandalapath31,#mandalapath32,#mandalapath33,#mandalapath34,#mandalapath35,#mandalapath36,
#mandalapath37,#mandalapath38,#mandalapath39,#mandalapath40,#mandalapath41,#mandalapath42{
	stroke: #FF7173;
	stroke-width: 6px;
	visibility:hidden;
}
#birdtemplate {
	stroke-width: 2px;
	stroke: #FF7173;
}
#birdpath {
	stroke: #FF7173;
	stroke-width: 3px;
}
#hearttemplate {
	stroke-width: 2px;
	stroke: #025E73;
}
#heartpath {
	stroke: #FF7173;
	stroke-width: 2px;
	fill:none;
}
#hand {
	stroke-width: 5px;
	stroke: #025E73;
}
#thumbsup{
	stroke: #FF7173;
	stroke-width: 4px;
	fill:none;
	visibility: hidden;
}
#square {
	stroke: #025E73;
	fill: #025E73;
}
#circle {
	stroke: #025E73;
	fill: #025E73;
}
#stars {
	stroke: #025E73;
	fill: #025E73;
}
#polygon {
	stroke: #025E73;
	fill: #025E73;
}
#triangle {
	stroke: #025E73;
	fill: #025E73;
}
#rounded {
	stroke: #025E73;
	fill: #025E73;
}
#s {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#ss {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#h {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#a {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#p {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}
#e {
	stroke: #FF7173;
	fill: #FF7173;
	visibility: hidden;
}

.yourPath {
    stroke-width: 10px;
    stroke: red;
}

#content_sm{
	margin:0 auto;
	width: 950px;
	height:700px;
	border:1px solid white;
}


#container_sm{
	margin: 100px 0;
	width:955px;
	height:100px;
	display:block;
	position:relative;

}



nav{

	margin: 0 auto;
	height:auto;
	width:auto;
	text-align:center;
}

nav a{
	color:#FF7173;
	text-decoration: none;
	font-size:20px;

}


/*********************/
/*this is for index 1*/
/*********************/

#s_1{
	left:30px;
	position:absolute;
	display:block;
}

#c_1{
	left:80px;
	position:absolute;
	display:block;
}

#r_1{
	left:150px;
	position: absolute;
	display:block;
}

#o1_1{
	left:220px;
	position: absolute;
	display:block;
}

#l1_1{
	left:290px;
	position: absolute;
	display:block;
}

#l2_1{
	left:340px;
	position: absolute;
	display:block;
}

#m_1{
	left:390px;
	position: absolute;
	display:block;
}

#o2_1{
	left:480px;
	position: absolute;
	display:block;
}

#t_1{
	left:550px;
	position: absolute;
	display:block;
}

#i_1{
	left:610px;
	position: absolute;
	display:block;
}

#o3_1{
	left:640px;
	position: absolute;
	display:block;
}


#n_1{
	left:700px;
	position: absolute;
	display:block;
}


/*********************/
/*this is for index 2*/
/*********************/


#pinwheel{
	left:0px;
	top:180px;
	position:absolute;
	display: block;
	opacity: 0;
}

#s_2{
	left:150px;
	position:absolute;
	display:block;
	opacity: 0;
}

#c_2{
	left:210px;
	position:absolute;
	display:block;
	opacity: 0;
}

#r_2{
	left:290px;
	position: absolute;
	display:block;
	opacity: 0;
}

#o1_2{
	left:360px;
	position: absolute;
	display:block;
	opacity: 0;
}

#l1_2{
	left:430px;
	position: absolute;
	display:block;
	opacity: 0;
}

#l2_2{
	left:490px;
	position: absolute;
	display:block;
	opacity: 0;
}

#m_2{
	left:550px;
	position: absolute;
	display:block;
	opacity: 0;
}

#o2_2{
	left:640px;
	position: absolute;
	display:block;
	opacity: 0;
}

#t_2{
	left:710px;
	position: absolute;
	display:block;
	opacity: 0;
}

#i_2{
	left:780px;
	position: absolute;
	display:block;
	opacity: 0;
}

#o3_2{
	left:820px;
	position: absolute;
	display:block;
	opacity: 0;
}


#n_2{
	left:890px;
	position: absolute;
	display:block;
	opacity: 0;
}

/*********************/
/*this is for index 3*/
/*********************/

#s_3{
	left:30px;
	top:-100px;
	position:absolute;
	display:block;
}

#c_3{
	left:80px;
	top:-100px;
	position:absolute;
	display:block;
}

#r_3{
	left:150px;
	top:-100px;
	position: absolute;
	display:block;
}

#o1_3{
	left:220px;
	position: absolute;
	display:block;
}

#l1_3{
	left:290px;
	top:-100px;
	position: absolute;
	display:block;
}

#l2_3{
	left:340px;
	top:-100px;
	position: absolute;
	display:block;
}

#m_3{
	left:390px;
	top:-100px;
	position: absolute;
	display:block;
}

#o2_3{
	left:480px;
	position: absolute;
	display:block;
}

#t_3{
	left:550px;
	top:-100px;
	position: absolute;
	display:block;
}

#i_3{
	left:610px;
	top:-100px;
	position: absolute;
	display:block;
}

#o3_3{
	left:640px;
	position: absolute;
	display:block;
}


#n_3{
	left:700px;
	top:-100px;
	position: absolute;
	display:block;
}








/*********************/
/*this is for index 4*/
/*********************/


#template_sm_blue_r,#template_sm_blue_o1,#template_sm_blue_s,#template_sm_blue_c,#template_sm_blue_l1,#template_sm_blue_l2{	
	fill:none;
	stroke:#51A0E2;
	stroke-width:3px;
}
#template_sm_green_o2,#template_sm_green_o3,#template_sm_green_m,#template_sm_green_t,#template_sm_green_i,#template_sm_green_n{
	fill:none;
	stroke:#55C2B6;
	stroke-width:3px;
}

#path_sm_blue_r,#path_sm_blue_o1,#path_sm_blue_s,#path_sm_blue_c,#path_sm_blue_l1,#path_sm_blue_l2{
	fill:#51A0E2;
}
#path_sm_green_o2,#path_sm_green_o3,#path_sm_green_m,#path_sm_green_t,#path_sm_green_i,#path_sm_green_n{
	fill:#55C2B6;
}












/*********************/
/*this is for index 5*/
/*********************/

#s_5{
	left:30px;
	top:-100px;
	position:absolute;
	display:block;
}

#c_5{
	left:80px;
	top:-100px;
	position:absolute;
	display:block;
}

#r_5{
	left:150px;
	top:-100px;
	position: absolute;
	display:block;
}

#o1_5{
	left:220px;
	position: absolute;
	display:block;
}

#l1_5{
	left:290px;
	top:-100px;
	position: absolute;
	display:block;
}

#l2_5{
	left:340px;
	top:-100px;
	position: absolute;
	display:block;
}

#m_5{
	left:390px;
	top:-100px;
	position: absolute;
	display:block;
}

#o2_5{
	left:480px;
	position: absolute;
	display:block;
}

#t_5{
	left:550px;
	top:-100px;
	position: absolute;
	display:block;
}

#i_5{
	left:610px;
	top:-100px;
	position: absolute;
	display:block;
}

#o3_5{
	left:640px;
	position: absolute;
	display:block;
}


#n_5{
	left:700px;
	top:-100px;
	position: absolute;
	display:block;
}

























